<!-- public/views/project.html -->

<div class="jumbotron text-center">
    <h1>Projects</h1>

    <p ng-bind='projects.tagline'></p>
</div>
<div class="row" ng-repeat="chunk in projects.chunkedProjectsList">
	<div class="col-md-4" ng-repeat="project in chunk" ng-cloak>
		<div class="panel panel-default" >
			<div class="panel-body">
				<h3>{{project.name}}</h3>
				<p class="small" ng-bind="project.description"></p>
			</div>
			<div class="panel-footer">
				<h5>
					<small>
						Category: {{project.category}}&nbsp;&nbsp;|&nbsp; 
						{{project.dev_period}}
					</small>
				</h5>
			</div>
		</div>
	</div>
</div>