<!-- public/views/project.html -->

<div class="jumbotron text-center">
    <h1>Projects</h1>

    <p ng-bind='projects.tagline'></p>
</div>
<div class="panel panel-default" ng-repeat="project in projects.projectsList" ng-cloak>
	<div class="panel-body">
		<h3>{{project.name}}</h3>
		<p ng-bind="project.description"></p>
	</div>
	<div class="panel-footer">
		<h5>
			<small>
				Category: {{project.category}}&nbsp;&nbsp;|&nbsp; 
				{{project.dev_period}}&nbsp;&nbsp;|&nbsp;
				<a href="{{project.link}}">Link</a>
			</small>
		</h5>
	</div>
</div>